

// --- INCLUDES ---
include "./input.kdl"
include "./layout.kdl"
include "./binds.kdl"
include "./rules.kdl"
include "./autostart.kdl"

// --- CORE SETTINGS ---
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
    GDK_BACKEND "wayland"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
}
