cursor {
    xcursor-theme "phinger-cursors-dark-left"
    xcursor-size 24
}

input {
    keyboard {
        xkb {
            options "altwin:swap_alt_win"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        scroll-factor 0.3
        accel-speed 0.5;
        accel-profile "adaptive";
    }

    mouse {
        accel-speed 1
        left-handed
    }

    focus-follows-mouse max-scroll-amount="0%"
}
