layout {
    gaps 6
    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 1
        // active-gradient from="#00BCD4" to="#FF9800" angle=60
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        // on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // bottom 64
    }
}

animations {
    workspace-switch {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.0001
    }
    window-open {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.0001
    }
    window-close {
        duration-ms 50
        curve "linear"
    }
    window-movement {
        duration-ms 200
        curve "ease-out-quad"
    }
}

hotkey-overlay {
    skip-at-startup
}
